{% extends 'base.html' %}
{% block title %} Stock Funnel- Error{% endblock %}
{% block content %} 
<div class="row bg-light rounded align-items-center justify-content-center mx-0">
    <div class="col-md-6 text-center p-4">
        <img src="static/404.png" class="img-fluid">
        <h3 class="mb-4">Page Not Found</h1>
        <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website!
            Maybe go to our home page and try some other operations?</p>
        <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
    </div>
</div>

{% endblock %}