{% extends 'base.html' %}
{% block title %} Stock Funnel- Contact us{% endblock %}
{% block content %} 
<div class="row bg-light rounded  justify-content-center mx-4">
    <div class="col-md-12 pt-4 px-4"> 
        <div class="col-md-12 px-4">
        <h2 class ="text-center">Contact Us</h2>
        <p>Stock Funnel is currently in beta, there are many features that are not perfect, if you find problems in the process of using it, please feel free to send <a href="mailto:loon4@foxmail.com?subject=Feedback&body=Message">loon4@foxmail.com(Example Email address)
        </a>an email to feedback your suggestions. We are eager to hear you!</p>
        <p><img src="static/contactme.svg" class="img-fluid mx-auto d-block"/></p>
    </div>
    </div>
    </div>

{% endblock %}