<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="16d88a3aaa044483ab3a098ea629d0f2" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_16d88a3aaa044483ab3a098ea629d0f2 = echarts.init(
            document.getElementById('16d88a3aaa044483ab3a098ea629d0f2'), 'white', {renderer: 'canvas'});
        var option_16d88a3aaa044483ab3a098ea629d0f2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "data": [
                [
                    34.12826883461642,
                    34.26736831665039,
                    33.820272313867434,
                    34.57536483739938
                ],
                [
                    36.74129209442904,
                    36.453163146972656,
                    34.75420217829935,
                    37.705031916575365
                ],
                [
                    35.96632882156641,
                    36.94000244140625,
                    35.61858580657649,
                    37.496388991346144
                ],
                [
                    37.09999847412109,
                    38.27999877929688,
                    36.04999923706055,
                    38.27999877929688
                ],
                [
                    37.4900016784668,
                    37.119998931884766,
                    37.0099983215332,
                    37.709999084472656
                ],
                [
                    37.93000030517578,
                    37.150001525878906,
                    37.150001525878906,
                    38.02000045776367
                ],
                [
                    37.150001525878906,
                    37.09999847412109,
                    36.59999847412109,
                    37.25
                ],
                [
                    36.86000061035156,
                    37.27999877929688,
                    36.79999923706055,
                    37.29999923706055
                ],
                [
                    36.31999969482422,
                    36.31999969482422,
                    36.31999969482422,
                    37.209999084472656
                ],
                [
                    36.20000076293945,
                    36.0099983215332,
                    35.5,
                    36.43999862670898
                ],
                [
                    35.630001068115234,
                    34.560001373291016,
                    34.2599983215332,
                    35.630001068115234
                ],
                [
                    34.560001373291016,
                    34.0099983215332,
                    34.0099983215332,
                    35.79999923706055
                ],
                [
                    34.599998474121094,
                    34.0099983215332,
                    33.7599983215332,
                    34.599998474121094
                ],
                [
                    33.75,
                    34.689998626708984,
                    33.75,
                    35.0
                ],
                [
                    34.400001525878906,
                    33.79999923706055,
                    33.09000015258789,
                    34.5
                ],
                [
                    33.540000915527344,
                    33.650001525878906,
                    33.380001068115234,
                    34.400001525878906
                ],
                [
                    33.43000030517578,
                    33.59000015258789,
                    33.04999923706055,
                    33.689998626708984
                ],
                [
                    33.189998626708984,
                    31.309999465942383,
                    31.09000015258789,
                    33.91999816894531
                ],
                [
                    31.31999969482422,
                    31.31999969482422,
                    31.31999969482422,
                    32.5099983215332
                ],
                [
                    32.70000076293945,
                    32.4900016784668,
                    31.450000762939453,
                    32.70000076293945
                ],
                [
                    32.5099983215332,
                    31.32999992370605,
                    31.32999992370605,
                    32.5099983215332
                ],
                [
                    32.33000183105469,
                    32.38999938964844,
                    31.93000030517578,
                    32.5
                ],
                [
                    32.52000045776367,
                    32.189998626708984,
                    31.530000686645508,
                    32.689998626708984
                ],
                [
                    31.649999618530277,
                    31.350000381469727,
                    31.350000381469727,
                    32.25
                ],
                [
                    31.270000457763672,
                    30.209999084472656,
                    30.209999084472656,
                    31.920000076293945
                ],
                [
                    30.06999969482422,
                    29.989999771118164,
                    29.959999084472656,
                    30.899999618530277
                ],
                [
                    30.57999992370605,
                    31.799999237060547,
                    30.5,
                    32.29999923706055
                ],
                [
                    31.90999984741211,
                    31.959999084472656,
                    31.90999984741211,
                    32.540000915527344
                ],
                [
                    32.22999954223633,
                    31.649999618530277,
                    31.36000061035156,
                    32.310001373291016
                ],
                [
                    30.63999938964844,
                    31.399999618530277,
                    30.34000015258789,
                    32.279998779296875
                ],
                [
                    30.989999771118164,
                    31.5,
                    30.989999771118164,
                    31.709999084472656
                ],
                [
                    30.940000534057617,
                    31.65999984741211,
                    30.1299991607666,
                    32.16999816894531
                ],
                [
                    32.029998779296875,
                    31.68000030517578,
                    31.31999969482422,
                    32.060001373291016
                ],
                [
                    31.0,
                    31.049999237060547,
                    30.739999771118164,
                    32.0
                ],
                [
                    31.059999465942383,
                    31.700000762939453,
                    30.899999618530277,
                    31.850000381469727
                ],
                [
                    31.479999542236328,
                    31.479999542236328,
                    31.200000762939453,
                    32.130001068115234
                ],
                [
                    31.40999984741211,
                    31.489999771118164,
                    31.34000015258789,
                    31.57999992370605
                ],
                [
                    31.459999084472656,
                    31.270000457763672,
                    31.170000076293945,
                    31.57999992370605
                ],
                [
                    30.950000762939453,
                    31.229999542236328,
                    30.950000762939453,
                    32.0
                ],
                [
                    31.549999237060547,
                    31.71999931335449,
                    31.25,
                    32.060001373291016
                ]
            ],
            "itemStyle": {
                "color": "#FF6666",
                "color0": "#99CC66"
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "Date",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2022-05-27",
                "2022-05-31",
                "2022-06-01",
                "2022-06-02",
                "2022-06-03",
                "2022-06-06",
                "2022-06-07",
                "2022-06-08",
                "2022-06-09",
                "2022-06-10",
                "2022-06-13",
                "2022-06-14",
                "2022-06-15",
                "2022-06-16",
                "2022-06-17",
                "2022-06-21",
                "2022-06-22",
                "2022-06-23",
                "2022-06-24",
                "2022-06-27",
                "2022-06-28",
                "2022-06-29",
                "2022-06-30",
                "2022-07-01",
                "2022-07-05",
                "2022-07-06",
                "2022-07-07",
                "2022-07-08",
                "2022-07-11",
                "2022-07-12",
                "2022-07-13",
                "2022-07-14",
                "2022-07-15",
                "2022-07-18",
                "2022-07-19",
                "2022-07-20",
                "2022-07-21",
                "2022-07-22",
                "2022-07-25",
                "2022-07-26"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "Currency in USD",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "Candlestick Chart from 2022-05-27 to 2022-07-27",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_16d88a3aaa044483ab3a098ea629d0f2.setOption(option_16d88a3aaa044483ab3a098ea629d0f2);
    </script>
</body>
</html>
