<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="f47f1fd96feb4536af5d22f241d2e02e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_f47f1fd96feb4536af5d22f241d2e02e = echarts.init(
            document.getElementById('f47f1fd96feb4536af5d22f241d2e02e'), 'white', {renderer: 'canvas'});
        var option_f47f1fd96feb4536af5d22f241d2e02e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "data": [
                [
                    13.40999984741211,
                    12.6899995803833,
                    12.192999839782715,
                    13.449999809265135
                ],
                [
                    12.649999618530273,
                    13.229999542236328,
                    12.4399995803833,
                    13.390000343322756
                ],
                [
                    13.210000038146973,
                    14.220000267028807,
                    13.039999961853027,
                    14.414999961853027
                ],
                [
                    14.449999809265135,
                    14.949999809265135,
                    14.43000030517578,
                    15.140000343322756
                ],
                [
                    15.100000381469727,
                    15.15999984741211,
                    14.675000190734865,
                    15.369999885559082
                ],
                [
                    15.050000190734865,
                    14.59000015258789,
                    14.310999870300293,
                    15.48799991607666
                ],
                [
                    14.5,
                    15.010000228881836,
                    14.4399995803833,
                    15.28499984741211
                ],
                [
                    14.640000343322756,
                    14.520000457763672,
                    14.420000076293945,
                    14.90999984741211
                ],
                [
                    15.520000457763672,
                    15.25,
                    15.130000114440918,
                    16.870000839233402
                ],
                [
                    14.8100004196167,
                    15.100000381469727,
                    14.505000114440918,
                    15.34000015258789
                ],
                [
                    15.130000114440918,
                    15.229999542236328,
                    14.949999809265135,
                    15.659000396728516
                ],
                [
                    14.989999771118164,
                    15.079999923706055,
                    14.350000381469727,
                    15.199999809265135
                ],
                [
                    14.875,
                    14.850000381469727,
                    14.710000038146973,
                    15.359999656677244
                ],
                [
                    14.06999969482422,
                    13.40999984741211,
                    13.350000381469727,
                    14.829999923706055
                ],
                [
                    13.59000015258789,
                    13.6899995803833,
                    13.300000190734865,
                    13.899999618530273
                ],
                [
                    13.970000267028807,
                    14.449999809265135,
                    13.800000190734865,
                    14.710000038146973
                ],
                [
                    13.970000267028807,
                    13.670000076293945,
                    13.399999618530273,
                    14.449999809265135
                ],
                [
                    13.880000114440918,
                    13.920000076293945,
                    13.760000228881836,
                    14.170000076293945
                ],
                [
                    14.260000228881836,
                    14.699999809265135,
                    14.260000228881836,
                    15.154999732971193
                ],
                [
                    14.460000038146973,
                    14.649999618530273,
                    14.039999961853027,
                    15.15999984741211
                ],
                [
                    14.81999969482422,
                    15.40999984741211,
                    14.81999969482422,
                    15.5
                ],
                [
                    15.600000381469727,
                    15.399999618530273,
                    15.109999656677244,
                    16.09000015258789
                ],
                [
                    15.600000381469727,
                    16.069999694824222,
                    15.050000190734865,
                    16.100000381469727
                ],
                [
                    16.219999313354492,
                    15.510000228881836,
                    15.449999809265135,
                    16.379999160766598
                ],
                [
                    15.359999656677244,
                    15.0,
                    14.765000343322756,
                    15.904999732971193
                ],
                [
                    14.729999542236328,
                    16.829999923706055,
                    14.699999809265135,
                    16.870000839233402
                ],
                [
                    16.739999771118164,
                    15.539999961853027,
                    15.5,
                    16.899999618530273
                ],
                [
                    15.119999885559082,
                    15.699999809265135,
                    14.9399995803833,
                    15.760000228881836
                ],
                [
                    15.859999656677244,
                    16.260000228881836,
                    15.673999786376953,
                    16.610000610351562
                ],
                [
                    16.459999084472653,
                    16.459999084472653,
                    16.270000457763672,
                    16.860000610351562
                ],
                [
                    16.069999694824222,
                    16.940000534057614,
                    15.90999984741211,
                    17.0
                ],
                [
                    16.610000610351562,
                    15.890000343322756,
                    15.829999923706055,
                    16.719999313354492
                ],
                [
                    15.960000038146973,
                    15.4399995803833,
                    15.1899995803833,
                    16.239999771118164
                ],
                [
                    15.039999961853027,
                    15.59000015258789,
                    14.84000015258789,
                    15.979999542236328
                ],
                [
                    15.43000030517578,
                    15.210000038146973,
                    14.734999656677244,
                    15.550000190734865
                ],
                [
                    15.359999656677244,
                    15.699999809265135,
                    14.899999618530273,
                    15.720000267028807
                ],
                [
                    16.100000381469727,
                    16.180000305175778,
                    16.040000915527347,
                    16.799999237060547
                ],
                [
                    16.540000915527347,
                    16.569999694824222,
                    16.329999923706055,
                    16.790000915527347
                ]
            ],
            "itemStyle": {
                "color": "#FF6666",
                "color0": "#99CC66"
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "Date",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2022-05-24",
                "2022-05-25",
                "2022-05-26",
                "2022-05-27",
                "2022-05-31",
                "2022-06-01",
                "2022-06-02",
                "2022-06-03",
                "2022-06-06",
                "2022-06-07",
                "2022-06-08",
                "2022-06-09",
                "2022-06-10",
                "2022-06-13",
                "2022-06-14",
                "2022-06-15",
                "2022-06-16",
                "2022-06-17",
                "2022-06-21",
                "2022-06-22",
                "2022-06-23",
                "2022-06-24",
                "2022-06-27",
                "2022-06-28",
                "2022-06-29",
                "2022-06-30",
                "2022-07-01",
                "2022-07-05",
                "2022-07-06",
                "2022-07-07",
                "2022-07-08",
                "2022-07-11",
                "2022-07-12",
                "2022-07-13",
                "2022-07-14",
                "2022-07-15",
                "2022-07-18",
                "2022-07-19"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "Currency in USD",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "Candlestick Chart of ACMR from 2022-05-24 to 2022-07-24",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_f47f1fd96feb4536af5d22f241d2e02e.setOption(option_f47f1fd96feb4536af5d22f241d2e02e);
    </script>
</body>
</html>
