<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d9bc9da9812b4227a332bbd7ae8d9c0a" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d9bc9da9812b4227a332bbd7ae8d9c0a = echarts.init(
            document.getElementById('d9bc9da9812b4227a332bbd7ae8d9c0a'), 'white', {renderer: 'canvas'});
        var option_d9bc9da9812b4227a332bbd7ae8d9c0a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "data": [
                [
                    10.354999542236328,
                    10.354999542236328,
                    10.354999542236328,
                    10.354999542236328
                ],
                [
                    10.619999885559082,
                    10.484999656677246,
                    10.484999656677246,
                    10.626999855041504
                ],
                [
                    10.32900047302246,
                    10.300000190734863,
                    10.300000190734863,
                    10.425000190734863
                ],
                [
                    10.300000190734863,
                    10.300000190734863,
                    10.300000190734863,
                    10.300000190734863
                ],
                [
                    10.75,
                    10.600000381469728,
                    10.600000381469728,
                    10.800000190734863
                ],
                [
                    10.75,
                    11.5600004196167,
                    10.420000076293944,
                    11.5600004196167
                ],
                [
                    11.199999809265137,
                    11.890000343322754,
                    11.199999809265137,
                    12.199999809265137
                ],
                [
                    12.56999969482422,
                    13.050000190734863,
                    12.489999771118164,
                    13.279999732971191
                ],
                [
                    13.989999771118164,
                    13.75,
                    13.25,
                    13.989999771118164
                ],
                [
                    13.699999809265137,
                    12.869999885559082,
                    12.699999809265137,
                    13.699999809265137
                ],
                [
                    12.630000114440918,
                    11.359999656677246,
                    11.359999656677246,
                    12.630000114440918
                ],
                [
                    11.699999809265137,
                    10.65999984741211,
                    10.640000343322754,
                    11.699999809265137
                ],
                [
                    11.0,
                    10.789999961853027,
                    10.75,
                    11.199999809265137
                ],
                [
                    11.0,
                    10.0,
                    10.0,
                    11.0
                ],
                [
                    10.079999923706056,
                    10.5,
                    9.770000457763672,
                    10.5
                ],
                [
                    10.5,
                    11.0,
                    10.40999984741211,
                    11.279999732971191
                ],
                [
                    11.045000076293944,
                    11.0600004196167,
                    11.045000076293944,
                    11.605999946594238
                ],
                [
                    11.5,
                    11.010000228881836,
                    10.850000381469728,
                    11.5
                ],
                [
                    11.079999923706056,
                    11.0,
                    10.960000038146973,
                    11.119999885559082
                ],
                [
                    11.050000190734863,
                    11.59000015258789,
                    10.850000381469728,
                    11.699999809265137
                ],
                [
                    11.020000457763672,
                    10.75,
                    10.541000366210938,
                    11.0600004196167
                ],
                [
                    10.5,
                    10.0,
                    8.649999618530273,
                    10.5
                ],
                [
                    9.289999961853027,
                    10.24899959564209,
                    9.289999961853027,
                    10.24899959564209
                ],
                [
                    9.322999954223633,
                    9.989999771118164,
                    9.322999954223633,
                    10.25
                ],
                [
                    9.899999618530272,
                    9.989999771118164,
                    9.899999618530272,
                    10.050000190734863
                ],
                [
                    10.125,
                    10.640000343322754,
                    10.109999656677246,
                    10.640000343322754
                ],
                [
                    10.960000038146973,
                    10.199999809265137,
                    10.199999809265137,
                    10.960000038146973
                ],
                [
                    10.539999961853027,
                    10.5,
                    10.119999885559082,
                    10.699999809265137
                ],
                [
                    10.699999809265137,
                    10.550000190734863,
                    10.550000190734863,
                    10.859999656677246
                ],
                [
                    10.390000343322754,
                    10.696999549865724,
                    10.390000343322754,
                    11.270000457763672
                ],
                [
                    11.0,
                    10.550000190734863,
                    10.529999732971191,
                    11.0
                ],
                [
                    10.899999618530272,
                    10.640000343322754,
                    10.520000457763672,
                    10.899999618530272
                ],
                [
                    10.640000343322754,
                    10.640000343322754,
                    10.640000343322754,
                    10.640000343322754
                ],
                [
                    10.9399995803833,
                    10.9399995803833,
                    10.9399995803833,
                    10.9399995803833
                ],
                [
                    10.920000076293944,
                    11.0,
                    10.710000038146973,
                    11.0
                ],
                [
                    11.100000381469728,
                    11.204999923706056,
                    10.699999809265137,
                    11.23900032043457
                ],
                [
                    10.90999984741211,
                    11.5,
                    10.779999732971191,
                    12.682000160217283
                ],
                [
                    11.760000228881836,
                    14.710000038146973,
                    11.69499969482422,
                    16.49799919128418
                ],
                [
                    14.300000190734863,
                    15.5,
                    13.529999732971191,
                    17.350000381469727
                ],
                [
                    16.25,
                    16.459999084472656,
                    15.970000267028809,
                    17.700000762939453
                ]
            ],
            "itemStyle": {
                "color": "#FF6666",
                "color0": "#99CC66"
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "Date",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2022-05-27",
                "2022-05-31",
                "2022-06-01",
                "2022-06-02",
                "2022-06-03",
                "2022-06-06",
                "2022-06-07",
                "2022-06-08",
                "2022-06-09",
                "2022-06-10",
                "2022-06-13",
                "2022-06-14",
                "2022-06-15",
                "2022-06-16",
                "2022-06-17",
                "2022-06-21",
                "2022-06-22",
                "2022-06-23",
                "2022-06-24",
                "2022-06-27",
                "2022-06-28",
                "2022-06-29",
                "2022-06-30",
                "2022-07-01",
                "2022-07-05",
                "2022-07-06",
                "2022-07-07",
                "2022-07-08",
                "2022-07-11",
                "2022-07-12",
                "2022-07-13",
                "2022-07-14",
                "2022-07-15",
                "2022-07-18",
                "2022-07-19",
                "2022-07-20",
                "2022-07-21",
                "2022-07-22",
                "2022-07-25",
                "2022-07-26"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "Currency in USD",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "Candlestick Chart from 2022-05-27 to 2022-07-27",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_d9bc9da9812b4227a332bbd7ae8d9c0a.setOption(option_d9bc9da9812b4227a332bbd7ae8d9c0a);
    </script>
</body>
</html>
