{% extends 'base.html' %}

{% block title %} Stock Funnel- Homepage{% endblock %}
{% block content %}

<div class="row bg-light rounded  justify-content-center mx-4">
    <div class="col-md-12 pt-4 px-4"> 
        <div class="col-md-12 px-4">
        <h2 class ="text-center">Brief Introduction</h2>
        <p>Welcome to Stock Funnel, Here we will funnel stock for you based on your invest type or if you are an experienced investor, you can use the Stock Funnel to choose stock that meet your requirement.</p>
        <p><img src="static/main.svg" class="img-fluid mx-auto d-block"/></p>
    </div>
    </div>
    </div>

{% endblock %}