{% extends 'base.html' %}

{% block title %} Stock Funnel- Customized Recommendation{% endblock %}

{% block content %}

<div class="row vh-100 bg-light rounded  justify-content-center mx-0 overflow-auto">
    <div class="col-md-12 pt-4 px-4"> 
        <h3>Your Customized Stock Funnel</h3>
        <p>From the previous questionnaire, we obtained your investment type as <mark>{{type}}</mark>.
            <br>And according to your type, we recommend the following stock for you. Stocks are ranked ascend in Rise.
        </p>
        <form method="post">
            <div>
            <input class="form-check-input" type="checkbox" value="1" name="SECTOR" id="sector">
                                <label class="form-check-label" for="sector">
                                    sector
                                </label>
                <select name="sector" class="form-select mb-2 mt-2">
                    <option value="Energy">Energy</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Technology">Technology</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Industrials">Industrials</option>
                    <option value="Basic Materials">Basic Materials</option>
                    <option value="Communication Services">Communication Services</option>
                    <option value="Consumer Cyclical">Consumer Cyclical</option>
                    <option value="Consumer Defensive">Consumer Defensive</option>

                </select>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
        <h6 >Number of stocks selected for you: {{stocks | length}}</h6>
        <h6>Update on: {{date}}</h6>
        <a href="/rank" ><input style="float:right" class="btn btn-primary mt-2"  type="button"  value="Rank" /></a>
        <table class="table table-hover">
        <thead>
            <tr>
                {% for col in cols %}
                    <th scope="col">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <th scope="row">
                <!-- <a href="{{ url_for('search_result', stockcode=stock['code'], startdate='',enddate='',col='') }}">{{stock.code}}</a> -->
                <a href="{{ url_for('double_result', stockcode=stock['code']) }}">{{stock.code}}</a>
            </th>
                {% for col in cols[1:] %}
                    <th>{{stock[col]}}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>
    
</div>
{% endblock %}