{% extends 'base.html' %}

{% block title %} Stock Funnel- Search{% endblock %}

{% block content %} 
    <div class="row vh-100 bg-light rounded  justify-content-center mx-4">
        <div class="col-md-12 pt-4 px-4"> 
            <h3>Search Stock</h3>
            <p>Here you can query stocks' information, the system will return the corresponding visualization to you.</p>
            <form method="post">
                <div class="mb-3">
                    <label for="stockcode" class="form-label">Stock Code</label>
                    <input class="form-control" name="stockcode" id="stockcode" aria-describedby="CodeHelp">
                    <div id="CodeHelp" class="form-text">The format like '00001.sz' or 'TSLA'.</div>
                </div>
                <div class="mb-3">
                    <label for="startdate" class="form-label">StartDate</label>
                    <input class="form-control" name="startdate" id="startdate" aria-describedby="DateHelp">
                    <div id="DateHelp" class="form-text">The format like '2020-11-10'.</div>
                </div>
                <div class="mb-3">
                    <label for="enddate" class="form-label" >EndDate</label>
                    <input class="form-control" name="enddate" id="enddate" aria-describedby="DateHelp">
                    <div id="DateHelp" class="form-text">The format like '2020-11-10'.</div>
                </div>
                <div class="mb-3">
                    <label for="col" class="form-label" >Data</label>
                    <input class="form-control" name="col" id="col" aria-describedby="colHelp">
                    <div id="colHelp" class="form-text">Please enter the data you want to search in this row, either "Open", "High" "Low", "Close", " Adj Close" or Volume. If you want to search more than one kind of data, please separate them with a space.</div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        
    </div>
{% endblock %}