{% extends 'base.html' %}

{% block title %} Stock Funnel- Select{% endblock %}
{% block content %}
<div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0 overflow-auto">
    <div class="col-md-12 pt-4 px-4">


    <h3>Your Stock Funnel's Selection</h3>
        <p>You can click on the ticker symbol in the table to see a visualization of its high and low prices for the last 2 months.</p>
    <form method="post">
        <h5>Choose sector you are interested in</h5>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="SECTOR" id="sector">
                                <label class="form-check-label" for="sector">
                                    sector
                                </label>
                <select name="sector" class="form-select mb-2 mt-2">
                    <option value="Energy">Energy</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Technology">Technology</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Industrials">Industrials</option>
                    <option value="Basic Materials">Basic Materials</option>
                    <option value="Communication Services">Communication Services</option>
                    <option value="Consumer Cyclical">Consumer Cyclical</option>
                    <option value="Consumer Defensive">Consumer Defensive</option>
                </select>
        </div>
        <h5>Choose technique indicators you care about</h5>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="KDJ" id="select_check_1">
                                <label class="form-check-label" for="select_check_1">
                                    KDJ
                                </label>
                <select name="kdj" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                    <option value="2">over sold</option>
                    <option value="2">over bought</option>
                </select>
        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="BIAS" id="select_check_2">
                                <label class="form-check-label" for="select_check_2">
                                    BIAS
                                </label>
                <select name="bias" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                </select>
                
        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="MACD" id="select_check_3">
                                <label class="form-check-label" for="select_check_3">
                                    MACD
                                </label>
                <select name="macd" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                </select>

        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="DMA" id="select_check_4">
                                <label class="form-check-label" for="select_check_4">
                                    DMA
                                </label>
                <select name="dma" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                </select>

        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="BOLL" id="select_check_5">
                                <label class="form-check-label" for="select_check_5">
                                    BOLL
                                </label>
                <select name="boll" class="form-select mb-2 mt-2">
                    <option value="0">high break</option>
                    <option value="1">mid break</option>
                    <option value="1">low break</option>
                </select>

        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="RSI" id="select_check_6">
                                <label class="form-check-label" for="select_check_6">
                                    RSI
                                </label>
                <select name="rsi" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                    <option value="2">over sold</option>
                    <option value="2">over bought</option>
                </select>

        </div>
        <button type="submit" name="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    <br>
        <h6 >Number of stocks selected for you: {{stocks | length}}</h6>
        <h6>Update on {{date}}</h6>
        <a href="/rank" ><input style="float:right" class="btn btn-primary mt-2"  type="button"  value="Rank" /></a>
        <table class="table table-hover">
        <thead>
            <tr>
                {% for col in cols %}

                        <th scope="col">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <th scope="row"> 
                    <!-- <a href="{{ url_for('search_result', stockcode=stock['code'], startdate='',enddate='',col='') }}">{{stock.code}}</a> -->
                <a href="{{ url_for('double_result', stockcode=stock['code']) }}">{{stock.code}}</a>
                </th>
                {% for col in cols[1:] %}
                    <th>{{stock[col]}}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
</div>

{% endblock %}