{% extends 'base.html' %}

{% block title %} Stock Funnel- Select{% endblock %}
{% block content %}
<div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0 overflow-auto">
    <div class="col-md-12 pt-4 px-4">
    <h3>Your Stock Funnel's Selection</h3>
        <p>Here you can select the checkbox and choose specific trading signal for filtering stocks.</p>
        <hr>
    <form method="post">
        <h5>Choose sector</h5>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="SECTOR" id="sector">
                                <label class="form-check-label" for="sector">
                                    sector
                                </label>
                <select name="sector" class="form-select mb-2 mt-2">
                    <option value="Energy">Energy</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Technology">Technology</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Industrials">Industrials</option>
                    <option value="Basic Materials">Basic Materials</option>
                    <option value="Communication Services">Communication Services</option>
                    <option value="Consumer Cyclical">Consumer Cyclical</option>
                    <option value="Consumer Defensive">Consumer Defensive</option>
                </select>
        </div>
        <hr>
        <h5>Choose technique indicators</h5>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="KDJ" id="select_check_1">
                                <label class="form-check-label" for="select_check_1">
                                    KDJ
                                </label>
                <select name="kdj" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                    <option value="2">over sold</option>
                    <option value="2">over bought</option>
                </select>
        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="BIAS" id="select_check_2">
                                <label class="form-check-label" for="select_check_2">
                                    BIAS
                                </label>
                <select name="bias" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                </select>
                
        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="MACD" id="select_check_3">
                                <label class="form-check-label" for="select_check_3">
                                    MACD
                                </label>
                <select name="macd" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                </select>

        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="DMA" id="select_check_4">
                                <label class="form-check-label" for="select_check_4">
                                    DMA
                                </label>
                <select name="dma" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                </select>

        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="BOLL" id="select_check_5">
                                <label class="form-check-label" for="select_check_5">
                                    BOLL
                                </label>
                <select name="boll" class="form-select mb-2 mt-2">
                    <option value="0">high break</option>
                    <option value="1">mid break</option>
                    <option value="1">low break</option>
                </select>

        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="1" name="RSI" id="select_check_6">
                                <label class="form-check-label" for="select_check_6">
                                    RSI
                                </label>
                <select name="rsi" class="form-select mb-2 mt-2">
                    <option value="0">golden cross</option>
                    <option value="1">death cross</option>
                    <option value="2">over sold</option>
                    <option value="2">over bought</option>
                </select>

        </div>
        <button type="submit" name="submit" class="btn btn-primary mt-2">Submit</button>
    </form>

</div>
</div>

{% endblock %}