
{% extends 'base.html' %}

{% block title %} Stock Funnel- Survey{% endblock %}

{% block content %}

<div class="row vh-100 bg-light rounded  justify-content-center mx-0">
    <div class="col-md-12 pt-4 px-4"> 
        <h3>User Survey</h3>
        <p>In order to facilitate the system to recommend stocks to you afterwards, you need to complete the following survey.</p>
        <form name="survey", method="post">
        <h6 class="pt-2">Goal for invest</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="goal" value="0" id="ratio1" required>
                <label class="form-check-label" for="ratio1">Mainly for capital appreciation
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="goal" value="1" id="ratio2" required>
                <label class="form-check-label" for="ratio2">Capital appreciation and capital preservation
                </label>
            </div>
            <hr>
            <h6 class="pt-2">Biggest loss you can afford</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="loss" value="0" id="ratio3" required>
                <label class="form-check-label" for="ratio3">Lower than 10%
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="loss" value="1" id="ratio4" required>
                <label class="form-check-label" for="ratio4">5% - 25%
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="loss" value="2" id="ratio5" required>
                <label class="form-check-label" for="ratio5">25% - 50%
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="loss" value="3" id="ratio6" required>
                <label class="form-check-label" for="ratio6">Greater than 50%
                </label>
            </div>
            <hr>
            <h6 class="pt-2">Cycle of holding a stock</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hold" value="0" id="ratio7" required>
                <label class="form-check-label" for="ratio7">Greater than six month
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hold" value="1" id="ratio8" required>
                <label class="form-check-label" for="ratio8">One to six month
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hold" value="2" id="ratio9" required>
                <label class="form-check-label" for="ratio9">Less than one month
                </label>
            </div>
            <hr>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</div>
{% endblock %}